@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .end-cursor:after {
    content: '|';
  }

  .hero-icon {
    @apply w-10 h-10 sm:h-14 md:w-14 hover:scale-125 mb-3 transition duration-500
  }

  .responsive-header {
    @apply text-4xl md:text-7xl text-gray-100 font-bold
  }

  .end-cursor.blinking:after {
    animation: blink 1s step-start infinite;
  }

  .section-height {
    @apply min-h-[100vh]
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}